    @import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

    * {
      font-family: "Readex Pro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "HEXP" 0;
    }

    .content {
      background: white;
      border-radius: 0 0 20px 20px;
      padding: 30px 20px;
      margin: -30px 10px 30px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      min-height: 200px;
      font-size: 16px;
      color: #333;
    }

    .content-section {
      display: none;
    }

    .content-section.active {
      display: block;
    }

    .form-group {
      margin-bottom: 1.5rem;
    }

    .form-group label {
      font-size: 14px;
      font-weight: 400;
      color: #777;
      display: block;
      margin-bottom: 6px;
    }

    #loadingOverlay {
      display: none;
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 9999;
      justify-content: center;
      align-items: center;
    }